.hero{
    height: 200px;
    width: 550px;
    background-color: black;
    border-radius: 10px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 10px 10px 3px;
  
}

.hours{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 60px;
}

h1{
    color: white;
}

#day{
    font-size: 20px;
}

#second{
    font-size: 35px;
    width: 35px;

}

#dayAndSecond{
    position: relative;
    top: 10px;


}

#minit{
    width: 120px;
    display: flex;
    justify-content: center;
}

#hour{
    width: 120px;
    display: flex;
    justify-content: center;
}

#am-div{
    /* background-color: red; */
    position: relative;
    top: 30px;
    font-size: 10px; 
}

